@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
btn-font{
  font-family: "DM Sans", sans-serif;
}
/* scrollbar */
html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: 10px;
  scrollbar-color: #5608D5;
}
/* chrome, edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: #5608D5;
  border-radius: 0%;
}
.custom-scrollbar-a {
  scrollbar-width: 10px;
  scrollbar-color: #000000;
}
